.outline-box {
    -fx-border-color: #336699;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-padding: 10;
}

/*======================================= GENERAL =======================================*/
/* TEXT */
.text {

}

.text--bold {

}

.text--normal {

}

/* BUTTON */
.button {

}

.button--image {

}

/* IMAGE */
.image {

}

/*======================================= SLOTS =======================================*/
/* GENERAL */




/*#SONG SLOT*/
.slot-song {

}

